[submodule "dependencies/tinywindow"]
	path = dependencies/tinywindow
	url = https://github.com/ziacko/tinywindow.git
[submodule "dependencies/tinyextender"]
	path = dependencies/tinyextender
	url = https://github.com/ziacko/tinyextender.git
[submodule "dependencies/tinyshaders"]
	path = dependencies/tinyshaders
	url = https://github.com/ziacko/tinyshaders.git
[submodule "dependencies/glm"]
	path = dependencies/glm
	url = https://github.com/g-truc/glm.git
[submodule "dependencies/tinyclock"]
	path = dependencies/tinyclock
	url = https://github.com/ziacko/tinyclock.git
[submodule "dependencies/gli"]
	path = dependencies/gli
	url = https://github.com/g-truc/gli
[submodule "dependencies/assimp"]
	path = dependencies/assimp
	url = https://github.com/assimp/assimp
[submodule "dependencies/imgui"]
	path = dependencies/imgui
	url = https://github.com/ocornut/imgui
