*.opensdf
*.vcxproj
*.tlog
*.lastbuildstate
*.idb
*.sdf
*.sln
CMakeFiles/
vcxproj.filters
*.filters
*.db
*.editorconfig
*.cmake
*.in
*.csv
*.rdc
*.obj
*.pdb
*.ilk
*.suo
*.yml
*.tcl
*.ipch


*.exe
*.log
*.user
.vs
.idea
CMakeCache.txt
*.recipe
